<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting ...</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<a id="sms" href="intent:smsto:1922#Intent;action=android.intent.action.SENDTO;S.sms_body=%E5%A0%B4%E6%89%80%E4%BB%A3%E7%A2%BC%EF%BC%9A{{ .id }}%0A%E6%9C%AC%E6%AC%A1%E5%AF%A6%E8%81%AF%E7%B0%A1%E8%A8%8A%E9%99%90%E9%98%B2%E7%96%AB%E7%9B%AE%E7%9A%84%E4%BD%BF%E7%94%A8%E3%80%82;end">Send SMS</a>
<script>

</script>

</body>
</html>